[submodule "SharedResources/pyBK"]
	url = git@github.com:josepatino/pyBK.git
[submodule "SharedResources/pyannote-audio"]
	path = SharedResources/pyannote-audio
	url = git@github.com:pyannote/pyannote-audio.git
[submodule "SharedResources/dscore"]
	path = SharedResources/dscore
	url = git@github.com:nryant/dscore.git
