[submodule "SharedResources/pyBK"]
	url = https://github.com/josepatino/pyBK.git
[submodule "SharedResources/pyannote-audio"]
	path = SharedResources/pyannote-audio
	url = https://github.com/pyannote/pyannote-audio.git
[submodule "SharedResources/dscore"]
	path = SharedResources/dscore
	url = https://github.com/nryant/dscore.git
